<div class="container px-5 py-10 mx-auto md:py-24">
  <p class="pl-2 mb-5 text-xs font-bold text-gray-500 md:ml-24">
    {{ category }} >> {{ subCategory }} >> Page {{ currentPage }} of
    {{ totalPages }}
  </p>
  <div
    *ngIf="products.length > 0; else productsLoading"
    class="flex flex-wrap md:ml-20 md:-m-4"
  >
    <div
      *ngFor="let product of products"
      class="w-full p-4 mb-5 bg-white cursor-pointer md:m-5 hover:shadow-lg hover:border-transparent lg:w-1/5 md:w-1/2"
    >
      <app-product-thumbnail-card
        [product]="product"
      ></app-product-thumbnail-card>
    </div>
  </div>
  <ng-template #productsLoading>
    <app-category-loading></app-category-loading>
  </ng-template>
</div>
